@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("教练简介").Text);
}

<div class="page instructor-page">
    <div class="page-title">
        <h1>@T("教练简介")</h1>
    </div>
    <div class="page-body">
        <p>@T("我们的每一位教练都接受过加拿大专业滑雪教练培训，通过考核，持有专业滑雪教练牌照。同时， 我们也欢迎持牌教练加入我们的教练队伍。")</p>
        <div class="video-warpper">
            <iframe src="https://www.youtube.com/embed/SdLOOP5hqRk" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            <iframe src="https://www.youtube.com/embed/LVsFtkgDIyg" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>

    </div>
</div>

